In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('s44000-49501.csv')

In [6]:
df.id = np.arange(44000, 49501)

In [8]:
df.head()

,id,score,start.1,start.2,start.3,start.4,start.5,start.6,start.7,start.8,...,start.391,start.392,start.393,start.394,start.395,start.396,start.397,start.398,start.399,start.400
0,44000,99,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,44001,99,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,44002,100,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44003,90,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,44004,100,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0

In [9]:
df2 = pd.read_csv('s49500-50001.csv')
df2.id = np.arange(49500, 50001)

In [10]:
df3 = pd.read_csv('s200-400.csv')
df3.id = np.arange(200, 401)

In [14]:
df4 = pd.read_csv('s401-700.csv')
df4.id = np.arange(400, 701)

In [15]:
df5 = pd.read_csv('s700-1k.csv')
df5.id = np.arange(700, 1001)

In [99]:
df_all = pd.DataFrame(np.zeros((50000, 401), 'uint8'), columns=['id'] + ['start.' + str(_) for _ in range(1, 401)])

In [100]:
df_all.iloc[:, 0] = np.arange(1, 50001)

In [91]:
subcols = [_ for _ in df3.columns if _ != 'score']

In [92]:
df_all.iloc[199:400, :] = (df3[subcols]).values

In [93]:
df_all.iloc[399:700, :] = (df4[subcols]).values

In [94]:
df_all.iloc[699:1000, :] = (df5[subcols]).values

In [101]:
df_all.iloc[43999:49500, :] = (df[subcols]).values

In [96]:
df_all.iloc[49499:50001, :] = (df2[subcols]).values

In [102]:
df_all = df_all.astype('uint32')

In [103]:
df_all.to_csv('result.csv', index=False)