In [8]:
import pandas as pd
import numpy as np
from viz import show_field

In [9]:
df = pd.read_csv('resources/train.csv', index_col='id')

In [10]:
from GeneticSolver import GeneticSolver
from MPGeneticSolver import MPGeneticSolver

In [11]:
mpgs = MPGeneticSolver(early_stopping=False)

In [14]:
solution_df = pd.DataFrame([], columns=['id'] + ['start.'+ str(_) for _ in range(1, 401)])

In [17]:
solution_df.append(board.ravel())

/Volumes/Storage/goinfre/ptyshevs/dl_env/lib/python3.6/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

,id,start.1,start.2,start.3,start.4,start.5,start.6,start.7,start.8,start.9,...,start.392,start.393,start.394,start.395,start.396,start.397,start.398,start.399,start.400,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

In [12]:
running_avg, n = 0, 0
log = []
best, worst = None, None
for (idx, row) in df.iterrows():
    delta, X, Y = row.values[0], row.values[1:401].reshape((20, 20)).astype('uint8'), row.values[401:].reshape((20, 20)).astype('uint8')
    solution = mpgs.solve(Y, delta, return_all=False)
    board, score = solution
    log.append((idx, score))
    if best is None or best[1] < score:
        best = (idx, score)
    if worst is None or worst[1] > score:
        worst = (idx, score)
    n += 1
    running_avg = (running_avg * (n - 1) + score) / n
    print(f"{idx} is solved with score {score}. Average score: {running_avg}")
    if idx > 1:
        break
print("Best score:", best)
print("Worst score:", worst)

1 is solved with score 1.0. Average score: 1.0
2 is solved with score 0.995. Average score: 0.9975
Best score: (1, 1.0)
Worst score: (2, 0.995)